


.roadmap_container{
  width: 100%;
  background: #0b0c22;
  padding-top: 100px;
  padding-bottom: 70px;
  margin-top: 130px;
  position : 'relative'
}

.roadmpa_main{
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}


.roadmap{
  position: absolute;
  color: #e5894c !important;
  opacity: 0.06;
  font-size: 120px !important;
  top: -60px;
  left: 0px;
  text-align: center;
  width: 100%;
  font-weight: 600 !important;

}

.ourroadmap{
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
}


.line{
  background: #e5894c;
  /* border: 3px solid tomato; */
  height: 170px;
  width: 2px;
  margin: auto;
  margin-top: -180px;
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .ourroadmap{
    font-size: 1.8em !important;
  }
  .roadmap{
    font-size: 80px !important;
    top: -40px;
  }
}

@media screen and (max-width : 650px) {
  .ourroadmap{
    font-size: 1.2em !important;
  }
  .roadmap{
    font-size: 50px  !important;
    top: -25px;
  }
}