


.jack_container{
  width: 100%;
  padding-bottom: 15px;
}

.jack_main{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.title{
  font-size:  2.93em !important;
  font-weight: 300;
  color: white !important;
  text-align: center ;
  margin-bottom: 20px;
  padding-top: 120px;
}

.content{

  color:white !important;
  text-align: center !important;
  /* max-width: 740px !important; */
  margin: 0 auto !important;
  margin-top: 18px !important;
  font-size: 1.27em !important;
  line-height: 1.68 !important;

}

.jack_main a{
  border: 2px solid #d2793d;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 15px;
  transition: all .35s ease;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  background: black;
}

.jack_main a:hover{
  background: #d2793d;
}

.jack_content{
  font-size: 2.63em !important;
  font-weight: 700 !important;
  text-align: center;
}

.myparticle{

  position: absolute !important;
}

#particles-js canvas{
  position: absolute !important;
}

.lottie_dog{
  width: 30%;
  height: auto;
  margin: 0 auto;
}


@media screen and (max-width: 1300px ) {
  .jack_main{
    padding-top: 50px !important;
  }
}

@media screen and (max-width: 900px) {
  .title{
    font-size: 35px !important;
  }
  .jack_content{
    font-size: 40px !important;
    font-weight: 500 !important;
  }
  .lottie_dog{
    width: 40%;
  }
}
