

.token_container{
  width: 100%;
  position: relative !important;
  /* position: sticky !important; */
}

.token_main{
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
  margin-top: 380px !important;
  
}

.token{
  position: absolute;
  color: #e5894c !important;
  opacity: 0.06;
  font-size: 120px !important;
  top: -60px;
  left: 0px;
  text-align: center;
  width: 100%;
  font-weight: 600 !important;

}

.tokenomics{
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 600 !important;
}


.content{
  font-size: 1em !important;
  font-weight: 600 !important;
}

.canimation{
  position: absolute !important;
  bottom: 460px;
  margin-left: 50px;
}

.generaition{
  width: 500px;
  height: 500px;
  /* position: relative;
  left: 200px;
  top: 100px; */
  margin: auto;
  max-width: 1100px;
}





.circle_rect{
  position : absolute;
  margin-left: -300px;
  top: 550px;
}

.circle_draw1{
  position: absolute;
  left: 20px;
  top: 0px;
  width: 550px;
  height: 550px;
  background: transparent;
  border: 1px solid #e5894c;
  border-radius: 50%;
}

.circle_draw2{
  position: absolute;
  left: 50px;
  top: 0px;
  width: 550px;
  height: 550px;
  background: transparent;
  border: 1px solid #e5894c;
  border-radius: 50%;
}

.circle_draw3{
  position: absolute;
  left: 80px;
  top: 0px;
  width: 550px;
  height: 550px;
  background: transparent;
  border: 1px solid #e5894c;
  border-radius: 50%;
}

.circle_draw3{
  position: absolute;
  left: 80px;
  top: 0px;
  width: 550px;
  height: 550px;
  background: transparent;
  border: 1px solid #e5894c;
  border-radius: 50%;
}


.circle_draw4{
  position: absolute;
  left: 120px;
  top: 0px;
  width: 550px;
  height: 550px;
  background: transparent;
  border: 1px solid #e5894c;
  border-radius: 50%;
}


.line{
  margin-top: 50px;
  background: #e5894c;
  border: 8px solid #e5894c;
  width: 400px;
}


ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #41faa4;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}



.buy_couter{
  position: absolute;
  margin-left: -200px;
  margin-top: 50px;
  width: 30%;
  max-width: 500px;
  min-width: 320px;
}

.list_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150%;
  margin-left: -100px;
}





@media screen and (max-width : 1100px ) {
  .circle_rect{
    display: none;
  }
  .generaition{
    left: unset;
    /* margin: auto; */
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .canimation{
    margin: 0 auto !important;
    position: relative !important;
    margin-top: 450px !important;
  }
  .buy_couter{
    margin: 0px !important;
  }
}




@media screen and (max-width: 900px) {
  .tokenomics{
    font-size: 1.8em !important;
  }
  .token{
    font-size: 80px !important;
    top: -40px;
  }
  .buy_couter{
    display: block;
  }
  .list_box{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: block;
    width: 100%;
  }
}

@media screen and (max-width : 650px) {
  .token_main{
    margin-bottom: 200px;
  }
  .tokenomics{
    font-size: 1.2em !important;
  }
  .token{
    font-size: 50px  !important;
    top: -25px;
  }
 
  .generaition{
    height: auto;
  }
}

@media  screen and (max-width: 500px) {
  .line{
    width: 70%;
  }
  .list_box{
    margin: 0px !important;
  }
  .buy_couter{
    margin-left: 0px;
  }
}
