


.distribution{
  margin-top: 200px !important
}


.distribution_title{
  width: 30%;
  color: #8082A3 !important;
  font-size: 30px !important;
  margin-left: 300px !important;
  margin-bottom: 30px !important;
}